/* Variables */
:root {
  --white-color: #fff;
  --black-color: #000;
}

/* All */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100px;
}

/*Menu */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
  z-index: 1000;
  transition: 0.6s;
}

header.sticky {
  padding: 5px 100px;
  background: var(--white-color);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

header .logo {
  position: relative;
  font-weight: 700;
  color: var(--white-color);
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: var(--white-color);
  letter-spacing: 5px;
  font-weight: 300;
  transition: 0.6s;
}

header.sticky .logo,
header.sticky .sec-second,
header.sticky .sec-quarter,
header.sticky ul li a {
  color: var(--black-color);
}

/* banner */
.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url(./img/bg.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner h2 {
  color: var(--white-color);
  font-size: 90px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1em;
}

.banner h2 span {
  color: #6edcd9;
}

/*web1 */
.sec-one,
.sec-third {
  background: var(--white-color);
  padding: 100px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-one .content,
.sec-second .content,
.sec-third .content,
.sec-quarter .content {
  position: relative;
  text-align: center;
  width: 100%;
}

.sec-one .content-text,
.sec-second .content-text,
.sec-third .content-text,
.sec-quarter .content-text {
  max-width: 800px;
  margin: 0 auto;
}

h3 {
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 10px;
}

p {
  position: relative;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*web 2 and 4*/
.sec-second,
.sec-quarter {
  background: var(--black-color);
  color: var(--white-color);
  padding: 100px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer*/
.copyright {
  background: var(--black-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright p {
  color: var(--white-color);
}

.copyright p span {
  color: #6edcd9;
}

.toggle {
  display: none;
}

@media (max-width: 992px) {
  .toggle {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .toggle:before {
    content: '';
    position: absolute;
    top: 4px;
    width: 100%;
    height: 2px;
    background: var(--black-color);
    z-index: 1;
    box-shadow: 0 10px 0 var(--black-color);
    transition: 0.5s;
  }

  .toggle:after {
    content: '';
    position: absolute;
    bottom: 4px;
    width: 100%;
    height: 2px;
    background: var(--black-color);
    z-index: 1;
    transition: 0.5s;
  }

  header {
    padding: 5px 50px;
    background: var(--white-color);
  }

  header ul {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: auto;
    background: var(--white-color);
    visibility: hidden;
    opacity: 0;
  }

  header.active ul {
    visibility: visible;
    opacity: 1;
    display: block;
    padding-top: 25px;
  }

  header.active ul li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 20px;
  }

  header .logo,
  header ul li a {
    color: var(--black-color);
  }
}
